{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        {{ partial "social.html" . }}
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3><strong>{{ .Site.Params.author }}</strong></h3>
        <h3>is an systems engineer</h3>
        <h3>not a haiku poet.</h3>
        <br><br>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
